<div id="container">
    <div id="login-container">
        <form [formGroup]="loginForm" id="login-form">
            <h1>Tournament Brackets</h1>
            <mat-form-field class="login-input">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="login-input">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type='button' color="primary" (click)="submit()">Sign In</button>
            <mat-error>{{errorMessage}}</mat-error>
            <br>
            <p>
                Don't have an Account Yet? <a href="/register"> Sign up! </a>
            </p>
            <p>
                <a href="/forgot-password">Forgot password?</a>
            </p>
        </form>
    </div>
    <div id="background"></div>
</div>
