<div id="container">
    <div id="login-container">
        <form [formGroup]="form" id="login-form">
            <h1>Forgot password</h1>
            <mat-form-field class="login-input">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="login-input">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type='button' color="primary" (click)="submit()">Request a new password</button>
            <br>
            <p>
                 <a href="/login">Try to sign in again</a>
            </p>
        </form>
    </div>
    <div id="background"></div>
</div>
